data/certs/*
!data/certs/.gitkeep

redisdata/*
!redisdata/.gitkeep

kafkadata/*
!kafkadata/.gitkeep

app/src/.env
app/node_modules/*
app/Logs.log

logs
logs/*

app/src/helpers/files/day-counter.txt
app/src/helpers/files/moderator-logs.txt

/.DS_Store
/.idea
